# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/

# Audio artifacts
*.wav
*.flac
*.mp3

# OS / Editor cruft
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/
project_proposal.pdf
Screenshot_20251027_184655.png
